<!DOCTYPE html>
<html>

    <head>
        <title>Jet_News</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Share+Tech&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
        <style>
            html, body {
                font-family: 'Share Tech', sans-serif;
            }
        </style>
    </head>
    <body>

        <!-- Creating the NAVBAR -->
        <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/static/jet_news_logo.png" alt="logo" height="125px" width="125px" class="d-inline-block align-top">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active px-md-4" href="#"><h4>HOME</h4><span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link px-md-4" href="#"><h4>ABOUT</h4></a>
                        <a class="nav-item nav-link px-md-4" href="#"><h4>CONTACT</h4></a>
                    </div>
                </div>
            </div>
        </nav>
        <hr>

        <!-- Creating the CONTENT AREA -->
        <div class="container">
            <div class="row bg-white">
                <div class="col-12 col-md-8 py-4 text-left"><h1>TECH NEWS</h1>
                    <div class="news-block-main">
                        <a href="{{ first_technews_hyperlink }}" target="_blank">
                            <img src="{{ first_technews_image }}" width="100%" height="400px">
                        </a>
                        <h2 class="text-left pt-3">{{ first_technews_title }}</h2>
                        <p class="text-justify">
                            {{ first_technews_text }}        
                        </p>
                        <hr>
                    </div>
                    <div class="news-block-secondmain">
                        <div class="row">
                            <div class="col-5">
                                <a href="{{ second_technews_hyperlink }}" target="_blank">
                                    <img src="{{ second_technews_image }}" width="100%" height="200px">
                                </a>
                            </div>
                            <div class="col-7">
                                <h3 class="text-left">{{ second_technews_title }}</h3>
                                <p class="text-justify">
                                    {{ second_technews_text }}
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="news-block-secondmain">
                        <div class="row">
                            <div class="col-5">
                                <a href="{{ third_technews_hyperlink }}" target="_blank">
                                    <img src="{{ third_technews_image }}" width="100%" height="200px">
                                </a>
                            </div>
                            <div class="col-7">
                                <h3 class="text-left">{{ third_technews_title }}</h3>
                                <p class="text-justify">
                                    {{ third_technews_text }}
                                </p>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="col-12 col-md-4 py-4 text-left"><h1>STARTUPS</h1>
                    <div class="news-block-side">
                        <a href="{{ first_stupnews_hyperlink }}" target="_blank">
                            <img src="{{ first_stupnews_image }}" class="img-responsive" width="100%" height="200px">
                        </a>
                        <h3 class="text-left pt-3">{{ first_stupnews_title }}</h3>
                        <hr>
                    </div>
                    <div class="news-block-side">
                        <a href="{{ second_stupnews_hyperlink }}" target="_blank">
                            <img src="{{ second_stupnews_image }}"class="img-responsive" width="100%" height="200px">
                        </a>
                        <h3 class="text-left pt-3">{{ second_stupnews_title }}</h3>
                        <hr>
                    </div>
                    <div class="news-block-side">
                        <a href="{{ third_stupnews_hyperlink }}" target="_blank">
                            <img src="{{ third_stupnews_image }}" class="img-responsive" width="100%" height="200px">
                        </a>
                        <h3 class="text-left pt-3">{{ third_stupnews_title }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Creating FOOTER -->
        <div class="page-footer font-small bg-dark">
            <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
                <a href="#">jetnews.com</a>
            </div>
        </div>

    </body>

</html>
